[Desktop Entry]
Name=Xyphract
Comment=hard-square white and red Aurorae decoration
X-KDE-PluginInfo-Author=deadgirl
X-KDE-PluginInfo-Name=xyphract
X-KDE-PluginInfo-Version=1.1
X-KDE-PluginInfo-License=GPL-3.0+
