{"author":"","data_directory":"/home/ariel/.local/share/vital","email":"dummy.unbarbarize@slmail.me","midi_learn_data":{"map":["","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","",""],"version":"1.5.5"},"standalone_buffer_size":256,"synth_version":"1.5.5","t":"9bceb67f-ac4b-4413-a5dc-1570c80a0f44","window_height":691,"work_offline":false}