[Desktop Entry]
Categories=Audio;Video;AudioVideo;AudioVideoEditing;Recorder;
Comment=REAPER
Encoding=UTF-8
Exec=pw-jack /home/ariel/.local/share/REAPER/reaper %F
Icon=cockos-reaper
MimeType=application/x-reaper-project;application/x-reaper-project-backup;application/x-reaper-theme
Name=REAPER
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
StartupWMClass=REAPER
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
